<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyisee.getdata.dao.TcGdConfigmainMapper">
  <resultMap id="BaseResultMap" type="com.whyisee.getdata.model.TcGdConfigmain">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="flow_id" jdbcType="VARCHAR" property="flowId" />
    <result column="exec_type" jdbcType="VARCHAR" property="execType" />
    <result column="exec_sql" jdbcType="VARCHAR" property="execSql" />
    <result column="source_flow_id" jdbcType="VARCHAR" property="sourceFlowId" />
    <result column="troop_flow_id" jdbcType="VARCHAR" property="troopFlowId" />
    <result column="cond_flow_id" jdbcType="VARCHAR" property="condFlowId" />
    <result column="show_flow_id" jdbcType="VARCHAR" property="showFlowId" />
    <result column="exec_flow_id" jdbcType="VARCHAR" property="execFlowId" />
    <result column="data_flow_id" jdbcType="VARCHAR" property="dataFlowId" />
    <result column="cycle_type" jdbcType="VARCHAR" property="cycleType" />
    <result column="cycle_value" jdbcType="VARCHAR" property="cycleValue" />
    <result column="data_file" jdbcType="VARCHAR" property="dataFile" />
    <result column="data_num" jdbcType="VARCHAR" property="dataNum" />
    <result column="task_status" jdbcType="VARCHAR" property="taskStatus" />
    <result column="begin_time" jdbcType="VARCHAR" property="beginTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_persion" jdbcType="VARCHAR" property="createPersion" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="update_persion" jdbcType="VARCHAR" property="updatePersion" />
    <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
  </resultMap>

  <sql id="Base_Column_List">
  task_id,task_name,flow_id,exec_type,exec_sql,source_flow_id,troop_flow_id,cond_flow_id,show_flow_id
  ,exec_flow_id,data_flow_id,cycle_type,cycle_value,data_file,data_num,task_status
  ,begin_time,end_time,status,remark,create_persion,create_date,update_persion,update_date
  </sql>
  <select id="search" parameterType="com.whyisee.getdata.model.TcGdConfigmain" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM tc_gd_configmain
    WHERE 1=1
    and status='1'
    <if test="    taskId!= null and taskId != '' ">and   task_id  =  #{taskId}  </if>
    <if test="    taskName!= null and taskName != '' ">and    task_name like  concat('%',#{taskName},'%')   </if>
    <if test="    flowId!= null and flowId != '' ">and    flow_id = #{flowId}</if>
    <if test="    execType!= null and execType != '' ">and   exec_type  = #{execType} </if>
    <if test="    execSql!= null and execSql != '' ">and    exec_sql   =    #{execSql}  </if>
    <if test="    sourceFlowId!= null and sourceFlowId != '' ">and   source_flow_id =#{sourceFlowId}  </if>
    <if test="    troopFlowId!= null and troopFlowId != '' ">and   troop_flow_id=  #{troopFlowId}</if>
    <if test="    condFlowId!= null and condFlowId != '' ">and   cond_flow_id=    #{condFlowId}    </if>
    <if test="    showFlowId!= null and showFlowId != '' ">and    show_flow_id=  #{showFlowId}</if>
    <if test="    execFlowId!= null and execFlowId != '' ">and    exec_flow_id=    #{execFlowId}    </if>
    <if test="    dataFlowId!= null and dataFlowId != '' ">and   data_flow_id  =    #{dataFlowId}   </if>
    <if test="    cycleType!= null and cycleType != '' ">and   cycle_type = #{cycleType}  </if>
    <if test="    cycleValue!= null and cycleValue != '' ">and   cycle_value   =#{cycleValue}  </if>
    <if test="    dataFile!= null and dataFile != '' ">and    data_file    =    #{dataFile}   </if>
    <if test="    dataNum!= null and dataNum != '' ">and    data_num  = #{dataNum} </if>
    <if test="    taskStatus!= null and taskStatus != '' ">and   task_status = #{taskStatus}  </if>
    <if test="    beginTime!= null and beginTime != '' ">and   begin_time=    #{beginTime}   </if>
    <if test="    endTime!= null and endTime != '' ">and   end_time   =   #{endTime}</if>
    <if test="    remark!= null and remark != '' ">and   remark  = #{remark} </if>
    <if test="    createPersion!= null and createPersion != '' ">and    create_persion =#{createPersion}  </if>
    <if test="    createDate!= null and createDate != '' ">and    create_date   =    #{createDate}    </if>
    <if test="    updatePersion!= null and updatePersion != '' ">and   update_persion    =  #{updatePersion} </if>
    <if test="    updateDate!= null and updateDate != '' ">and   update_date  =   #{updateDate}    </if>
  </select>
</mapper>