<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyisee.getdata.dao.TcGdTagconfigMapper">
  <resultMap id="BaseResultMap" type="com.whyisee.getdata.model.TcGdTagconfig">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="tag_id" jdbcType="VARCHAR" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="tag_name_zh" jdbcType="VARCHAR" property="tagNameZh" />
    <result column="tag_from_id" jdbcType="VARCHAR" property="tagFromId" />
    <result column="tag_class_id" jdbcType="VARCHAR" property="tagClassId" />
    <result column="tag_data_type" jdbcType="VARCHAR" property="tagDataType" />
    <result column="tag_show_order" jdbcType="VARCHAR" property="tagShowOrder" />
    <result column="is_show" jdbcType="VARCHAR" property="isShow" />
    <result column="is_cond" jdbcType="VARCHAR" property="isCond" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_persion" jdbcType="VARCHAR" property="createPersion" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
  </resultMap>

  <sql id="Base_Column_List">
    tag_id,tag_name,tag_name_zh,tag_from_id,tag_class_id,tag_data_type,tag_show_order,is_show,is_cond,status,remark,create_persion,create_date
    </sql>

  <select id="search" parameterType="com.whyisee.getdata.model.TcGdDatasource" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM tc_gd_tagconfig
    WHERE 1=1
    and status='1'
    <if test="tagId != null and tagId !=''"> and  tag_id in ( ${tagId} ) </if>
    <if test="tagName != null and tagName !=''"> and  tag_name= #{tagName} </if>
    <if test="tagNameZh != null and tagNameZh !=''"> and  tag_name_zh= #{tagNameZh} </if>
    <if test="tagFromId != null and tagFromId !=''"> and  tag_from_id in ( ${tagFromId} ) </if>
    <if test="tagClassId != null and tagClassId !=''"> and  tag_class_id= #{tagClassId} </if>
    <if test="tagDataType != null and tagDataType !=''"> and  tag_data_type= #{tagDataType} </if>
    <if test="tagShowOrder != null and tagShowOrder !=''"> and  tag_show_order= #{tagShowOrder} </if>
    <if test="isShow != null and isShow !=''"> and  is_show= #{isShow} </if>
    <if test="isCond != null and isCond !=''"> and  is_cond= #{isCond} </if>
    <if test="status != null and status !=''"> and  status= #{status} </if>
    <if test="remark != null and remark !=''"> and  remark= #{remark} </if>
    <if test="createPersion != null and createPersion !=''"> and  create_persion= #{createPersion} </if>
    <if test="createDate != null and createDate !=''"> and  create_date= #{createDate} </if>
  </select>
</mapper>