<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyisee.getdata.dao.TcGdDatasourceMapper">
  <resultMap id="BaseResultMap" type="com.whyisee.getdata.model.TcGdDatasource">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="source_name" jdbcType="VARCHAR" property="sourceName" />
    <result column="source_name_zh" jdbcType="VARCHAR" property="sourceNameZh" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="source_key" jdbcType="VARCHAR" property="sourceKey" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_persion" jdbcType="VARCHAR" property="createPersion" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
  </resultMap>

    <sql id="Base_Column_List" >
        source_id, source_name, source_name_zh, source_type, source_key, remark, create_persion, create_date
    </sql>
  <select id="search" resultMap="BaseResultMap" parameterType="com.whyisee.getdata.model.TcGdDatasource">
        select
        <include refid="Base_Column_List" />
        FROM tc_gd_datasource
        WHERE 1=1
        and status='1'
        <if test="sourceId != null">and source_id = #{sourceId}</if>
        <if test="sourceName != null">and source_name = #{sourceName}</if>
        <if test="sourceNameZh != null">and source_name_zh = #{sourceNameZh}</if>
        <if test="sourceType != null">and source_type = #{sourceType}</if>
        <if test="sourceKey != null">and source_key = #{sourceKey}</if>
        <if test="remark != null">and remark = #{remark}</if>
        <if test="createPersion != null">and create_persion = #{createPersion}</if>
        <if test="createDate != null">and create_date >= #{createDate}</if>
  </select>
</mapper>